.well_container {
  margin-left: 0px;
  margin-right: 0px;
}

.dl-horizontal {
  margin-bottom: 0px;
}

.well_button {
  margin-right: 10px;
}

form.well_container_form {
  display: inline-block;
}

.action-td {
  width: 10%;
}

.breadcrumb_buttons {
  margin-top: 8px;
}